:root {
  --color-brand-accent: #82a26a;
  --color-brand-alert: #993629;
  --color-brand-primary: #1f6d8c;
  --color-brand-secondary: #4ba695;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-dark-zinc: #27272a;
  --color-dark-stone: #1c1917;
  --color-dark-dark: #2b2b2b;
  --color-dark-slate: #0f172a;
  --color-light-light: #d5d5d5;
  --color-light-purify: #dde4ea;
  --color-light-lightness: #ebebf0;
  --color-light-clean: #f3f2f7;
  --color-success-light: #4ba695;
  --color-success-dark: #122b29;
  --color-success-success: #2a655f;
  --color-danger-light: #ff3333;
  --color-danger-dark: #290000;
  --color-danger-danger: #993629;
  --color-info-light: #8bcde5;
  --color-info-dark: #134253;
  --color-info-info: #2d9ec8;
  --color-warning-light: #f9954d;
  --color-warning-dark: #9e4505;
  --color-warning-warning: #f97316;
  --color-gray-50: #e7eaee;
  --color-gray-100: #b8bfcc;
  --color-gray-200: #8994a9;
  --color-gray-300: #717e98;
  --color-gray-400: #5e6a82;
  --color-gray-500: #4d566a;
  --color-gray-600: #3c4353;
  --color-gray-700: #222222;
  --color-gray-800: #1a1d23;
  --color-gray-900: #090a0c;
}
