body {
    color: white;
    font-family: Montserrat, sans-serif
}

.content {
  display: flex;
  justify-content: center;
  align-items: center; 
  align-content: center; 
  margin: 0 auto;
  width: 100%; 
  max-width: 90%;
  min-height: 100px;

}

#storybook-root .content {
  height: 100vh; 
}